<!--NewsTimeLine---->
@using App.Aplication
@using App.Domain.Entities.Data
@model IEnumerable<News>

@if (Model.IsAny())
{
    <div id="archives-2" class="widget widget_archive">
        <div class="widget-top"><h3 class="widget-title">Tin theo thời gian</h3></div>
        <ul>
            @foreach (News item in Model)
            {
                <li>
                    <a href="@Url.Action("GetContent", "Menu", new { menu = "tin-tuc", month = item.CreatedDate.Month, year = item.CreatedDate.Year, area = "" })">
                        @string.Format("Tháng {0} - năm {1}", item.CreatedDate.Month, item.CreatedDate.Year)
                    </a>
                </li>
            }
        </ul>
    </div>
}
<!--/NewsTimeLine--->